#categoryWrapper{
	margin-right: atuo;
	margin-left:auto;
	width: 100%;
	margin-bottom:2px;
}

#addCategory{
	display: block;
	width: 75%;
	background-color: #2baeeb;
	color: #ffffff;
	margin-left:auto;
	margin-right:auto;
}

#addCategory:hover{
	background-color: #40bbf4;
	text-decoration: underline;
	transition: background-color 0.5s;
}
#clear{
	display: block;
	width: 75%;
	background-color: #ff3636;
	color: #ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
}
#clear:hover{
	background-color: #ff4a4a;
	text-decoration: underline;
	transition: background-color 0.5s;
}

#submit{
	margin-top: 2px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	width: 75%;
	background-color: #01c100;
	color: #ffffff;
}

#submit:hover{
	background-color: #02ce00;
	text-decoration: underline;
	transition: background-color 0.5s;
}

#content{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	font-size: 16px;
}
#wrapper{
	padding-top: 5px;
}
#resultsSettings{
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
	width: 75%;
}

#settingsbtn{
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
	display:block;
	width: 75%;
	background-color: #424f66;
	color: #ffffff;
}

#settingsbtn:hover{
	background-color: #545e72;
	text-decoration: underline;
	transition: background-color 0.5s;
}

#settings{
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
	display:block;
	width: 75%;
}

#settings .form-group{
	margin-right: 5%;
}

#resultsSettings button{
	width: 49%;
}

#toggleCategories{
	float:right;
}

#content br{
	line-height: 1;
}

input{
	width: 35px;
}

.categoryRow{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 3px;
	border-style: solid hidden solid hidden;
	border-width: 2px;
	border-color: #cecece;
	padding: 5px 5px 5px 5px;
	width:75%;
	text-align: center;
}

.dropdown{
	display: inline-block;
	width: 20%;
}

.removeWrapper{
	display: inline-block;
	width:20%	
}

.remove{
	background-color: #ed1919;
	color: #ffffff;
}

.remove:hover{
	background-color: #ff4343;
	color: #ffffff;
	transition: background-color 0.5s;
}

.input-sm{
	margin-left:4px;
	width: 50px;
	display: inline-block;
}

.categoryBox{
	display: inline-block;
	width: 60%;
	float:left;
	padding: 0px 30px 0 30px;
	
}
.form-group{
	display: inline-block;
	margin-bottom: 0px;
}
.form-control{
	display: inline-block;
	padding: 2px 5px 2px 5px;
}
.subjectBox{
	width: 30%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin-top:auto;
	margin-bottom:auto;
}

.caret{
	margin-left: 4px	!important;
}

.repbutton{
	background-color: #5698e0;
	color: #ffffff	!important;
	float: right;
	padding: 4px 10px;
	margin-top: -8px;
}

.repbutton:hover{
	background-color: #65a8f1;
	transition: background-color 0.5s;
	color: #ffffff;
}
.row{
    border-bottom-color: #e0e0e0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-bottom: 6px;
	margin-top: -8px;
}

.settingsBtn{
	margin-top: 10px;
	margin-right: 6px;
	color: #ffffff	!important;
	background-color: #487aa9;
}
.settingsBtn:hover{
	background-color: #528bc0;
	color: #ffffff;
	transition: background-color 0.5s;
}

@media only screen and (max-width: 600px) {
	.categoryBox{
		width: 100%;
		margin-bottom: 4px;
	}
	
	.categoryRow{
		padding: 5px 2px 8px 2px;
	}
	
	#categories button{
		font-size: 16px;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.removeWrapper{
		width: auto;
		float:right;
	}
	#content{
		width: 90%;
		font-size: 17px;
	}
	.settingsBtn{
		margin-top: 6px;
	}
}